.comment-fieldset{
    font-size:24px;
    line-height:26px;
    color:$basic-black;
}
.textarea-fieldset {
    font-size:16px;
    line-height:18px;
    color:$special-dark-gray;
    text-transform: uppercase;
}