.radio-fieldset{
    font-size:16px;
    line-height:18px;
    color:$special-dark-gray2;
    display: flex;
    flex-direction: column;
 
}
.selction-program-form__text-field {
    margin-bottom: 25px;
    text-transform: uppercase;
}