.switch-over-program{
    background-color: $basic-green;
    color: $basic-white;
}

.switch-over-header{
    font-size:36px;
    line-height: 36px;
}

.switch-over-program__slogan{
    line-height: 14px;
}
.switch-over-program__button {
    background-color: $basic-green;
    text-decoration: none;
    color:$basic-white;
}